:root {
  background-color: #e7e6e6;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  align-self: flex-end;
}
nav li {
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
}
nav li:not(:last-child) {
  margin-right: 5px;
}

li a {
  text-decoration: none;
  color: #00a0a8;
}
a:visited {
  color: #00a0a8;
}
a:hover {
  color: #5d7373;
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  box-sizing: border-box;
  padding: 0px;
}

.logo {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.cta {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button.homecta {
  background-color: #52c9bd;
  color: #fff;
  padding: 10px;
  width: 150px;
  border: 3px ridge white;
  border-style: outset;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

button.homecta:nth-child(odd) {
  margin-right: 30px;
}
button.homecta:hover {
  border: 3px double black;
}
.homecolors {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.colors:not(:last-child) {
  margin-right: 20px;
}
.color1 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #ff5969;
}
.color6 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #00a0a8;
}
.color5 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #92d050;
}
.color2 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #52cbbe;
}
.color3 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #fec630;
}
.color4 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #5d7373;
}
h1 {
  font-size: 80px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: #ff5969;
}
.bodyp {
  color: #2f5597;
  font-size: 24px;
  text-align: center;
}
.objectives {
  color: #c55a11;
}
